.socials {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    gap: 1.2rem;
    margin-top: 1.2rem;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color-2);
    border-radius: 50%;

    .social-icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        transition: var(--transition);

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }

    .social-icon-color {
        background: var(--background-color-3);
        border-radius: 50%;
    }
}

/* Responsive */
/* Mobile */
@media (max-width: 600px) {
    .socials {
        justify-content: center;
    }
}
