.wrapper {
    padding: 4.8rem 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 4.8rem;
    width: var(--width-large);
    height: 48rem;
    margin: 7rem auto;
    padding: 4.8rem;
    background: var(--background-color-2);
    border-radius: 1.6rem;
}

.aside {
    background: var(--primary-color);
    padding: 4.8rem;
    border-radius: 1.6rem;
    position: relative;
    bottom: 16rem;

    .image {
        width: 24rem;
        margin-bottom: 3.2rem;
    }

    .aside-title {
        text-align: left;
        margin-bottom: 1.6rem;
    }

    .aside-desc {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}

.info {
    margin-bottom: 1.6rem;
}

.info-item {
    display: flex;
    gap: 1.6rem;

    + .info-item {
        margin-top: 1.2rem;
    }
}

.background-color {
    background: var(--background-color-3);
    border-radius: 50%;
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input,
    textarea {
        padding: 1.6rem;
        background: var(--background-color);
        color: var(--white-color);
    }
}

.name {
    display: flex;
    gap: 2rem;

    input[type='text'] {
        width: 50%;
    }
}

.send-btn {
    width: fit-content;
    align-self: flex-end;
}

/* Responsive */
/* Tablet */
@media (max-width: 1023px) {
    .container {
        width: var(--width-medium);
        height: auto;
        gap: 2.8rem;
        padding: 2.4rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .aside {
        width: auto;
        bottom: 0;
    }

    .contact-form {
        align-self: center;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .container {
        width: var(--width-small);
        grid-template-columns: 1fr;
        padding: 1.6rem;
    }

    .aside {
        padding: 3.2rem;
    }

    .name {
        flex-direction: column;

        input[type='text'] {
            width: 100%;
        }
    }

    .send-btn {
        width: 100%;
    }
}
